<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<%= image_tag("Congratulations - Sign Up.png", alt: "", class: "congo_image") %>
	</div>
</div>
<br>
<div class="row" style="padding:10px;">
	<div class="col-lg-8 col-lg-offset-2">
		<font color="#000">
			Hello <b>Mr. X,</b><br>
			<b>Congratulations!</b> You are now an exclusive member of our <b><u>Referral Club.</u></b> To start <b>earning</b> with us,<br>
			please follow the steps below:
			<ol start="1">
				<li>Click on the given form link – (Attach Form)</li>
				<li>Fill in the following details – your name, lead’s name, lead’s contact number and email.</li>
				<li>Click on the Submit button.</li>
			</ol>
			<div style="border-top: 2px solid black;"></div><br>
			<b>UPON EVERY BOOKING BY THE REFERRED LEAD, YOU SHALL EARN 3% OF THE TOTAL BOOKING
			VALUE!</b>
			Please keep the following in mind:
			<ul type="square">
				<li>Upon submitting the first lead, you shall receive a welcome gift from us – premium quality Raymond Suit.</li>
				<li>More leads equal to more earnings. Therefore, feel free to refer as many leads as you can accumulate.</li>
				<li>We shall share the ‘Lead Enquiry’ form on a weekly basis with you, so that you can fill in new lead details as per your feasibility.</li>
			<li>We shall share a weekly status update for all leads submitted by you. For instance, whether the lead is at Site Visited stage, or Negotiation stage, you shall be informed of the same.</li>
			<li>If you are in a hurry to know about the lead status, all you have to do is send us a WhatsApp message on the given number, and the Lead Status Report shall be shared with you instantly.</li>
			<li>Our referral manager shall discuss the final pay-out terms with you once the lead has confirmed the booking.</li>
			<li>Should at any point you want to unsubscribe from our Referral Club, all you have to do is send ‘Unsubscribe’ to the given WhatsApp number. Are you excited to indulge in the new passive income source? Lets’ get started then!</li>
		</ul>
		</font>
	</div>
</div>
<style type="text/css">
	.congo_image{
		width: 100%;
		height: auto;
	}
</style>