<%@header = 'Occupations'%>
<h1>Listing occupations</h1>

<table class="customers">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @occupations.each do |occupation| %>
      <tr>
        <td><%= occupation.description %></td>
        <td><%= link_to 'Edit', edit_occupation_path(occupation), :class => 'edit_btn' %></td>
        <td><%= link_to 'Destroy', occupation, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'dlt_btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Occupation', new_occupation_path, :class => 'btn btn-primary' %>
