<p>Dear Sir,</p>

Field Visit % being less that 10% of leads geenrated the same has been escalated:

<h1>For <%= @executive.name %> </h1>

<h2>Leads generated this month: <%= @leads_generated %></h2>
<h2>Field Visits this month: <%= @field_visits %></h2>
<h1>Field Visit Percentage: <%= @field_visit_percentage %>%</h1>
