<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #f4f4f4;
        }

        .container {
            padding-top: 10%;
            width: 82%;
            height: 100vw;
            margin: auto;
            overflow: hidden;
        }

        header {
            background: #50b3a2;
            color: white;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #e8491d 3px solid;
        }

        header a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
        }

        header ul {
            padding: 0;
            list-style: none;
        }

        header ul li {
            display: inline;
            margin-left: 20px;
        }

        .branding {
            float: left;
        }

        .branding h1 {
            margin: 0;
        }

        .image-placeholder {
            background-image: url('	https://dreamgurukul.in/new/ds21.jpg');
            height: 45vw;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .course-info {
            background: white;
            color: #333;
            height: auto;
            align-items: center;
            text-align: center;
            padding: 0;
            margin: 0;
        }

        .course-info h2 {
            padding-top: 5%;
        }

        p,
        .btn {
            margin: 2% 2% 4% 2%;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background: #e8491d;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <section class="container">
        <div class="image-placeholder">
        </div>
        <div class="course-info">
            <h2>Thank you for request Brochure !</h2>
            <p>Thank you once again for considering The Jain Group. We look forward to the possibility of working
                together.</p>
            <a href="" class="btn">Brochure</a>
        </div>
    </section>
</body>

</html>