<p>Dear <%= @lead.name %>,</p>
<p>Please find money receipt for clearing your dues against your flat <%= @flat.full_name %> in <%= @flat.block.name %> in our project <%= @flat.block.business_unit.name %> attached herewith.</p>
<p>Regards,</p>
<p>Rupsa Banerjee./Suvrajyoti Dey</p>
<p>+91 9007576657/+91 9903088846</p>
