<table border="2">
	<thead>
		<th>Source</th>
		<th>Generated On</th>
		<th>Lost Reason</th>
		<th>Qualified On</th>
		<th>Project</th>
		<th>Site Visited On</th>
		<th>Booked On</th>
	</thead>
	<tbody>
		
	</tbody>
</table>