<p>All Leads Status:</p>
<table border="3">
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Mobile</th>
		<th>Status</th>
	</thead>
	<tbody>
		<% @all_leads.each do |lead| %>
			<tr>
				<td><%= lead.name%></td>
				<% if lead.business_unit.organisation_id == 1%>
					<td></td>
					<td></td>
				<%else%>
					<td><%= lead.email%></td>
					<td><%= lead.mobil%></td>
				<%end%>
				<td><%= lead.status%></td>
			</tr>
		<%end%>
	</tbody>
</table>