<p>Dear Sir/Madam,</p>
<p>Please find Demand Letter of your flat in <%= @ledger_entry_header.booking.cost_sheet.flat.block.business_unit.name%> attached herewith.</p>
<p>Regards,</p>
<p><%= @current_personnel.name%></p>
<p>+91 <%= @current_personnel.mobile%></p>
