<div class="row">
	<div class="col-xs-12">
		<p class="form_sub_heading">Please tell us why you gave <%= @rating%> rating?</p>
	</div>
</div><br>
<div class="row">
	<div class="col-xs-12">
		<%= text_area_tag "site_visit_feedback", "", :class => 'form-control'%>
	</div>
</div>
