<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Project History of Jain Group</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
         td,th{
         color:white;
         padding:2px 5px;
         }
         tr:nth-child(odd) {
         background-color: #4e5d6c;
         }
         tr:nth-child(even) {
         background-color: #2b3e50;
         }
         tr:nth-child(even):hover, tr:nth-child(odd):hover{
         background-color: #485563 !important; 
         }
         .table > thead > tr > th:hover,.table > thead > tr > th{
         background-color:#2b3e50 !important;
         }
         .lf{
         font-weight:900;
         font-size:14px;
         }
         h2{
         text-align:center;
         border:2px solid grey;
         padding:10px 2px;
         }
      </style>
   </head>
   <body>
      <div class="container">
         <h2>Project History of Jain Group</h2>
         <br/>
         <table class="table table-hover">
            <thead>
               <tr class="hd">
                  <th>Project Name </th>
                  <th>Dream Residency Manor</th>
                  <th>Dream Valley</th>
                  <th>Dream Palazzo</th>
                  <th>Dream Exotica</th>
                  <th>Dream Eco city</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="lf"> Location </td>
                  <td>SALUA BAZAR,PO- GOPAL
                     PUR, PS- RAJAR HAT
                     KOL- 136
                  </td>
                  <td>HILL CART ROAD. OPP OF
                     HUNDAI SHOW ROOM,
                     DAGA PUR, PO+PS
                     PRADHAN NAGAR,
                     SILIGURI-734001
                  </td>
                  <td>SIKHER BAGAN,
                     PO-GOPAL PUR, PSRAJARHAT.
                     KOL- 136
                  </td>
                  <td>HOLDING NO-109, WARD-11,
                     BADU ROAD, MOUJA- ABDAL
                     PUR. NR-ABDALPUR POWER
                     HOUSE. DIST- 24 PGS (N).
                     PIN-700155
                  </td>
                  <td>KHANT PUKUR, POMUCHIPARA,
                     PSKANKSA.
                     DURGAPUR-713212
                  </td>
               </tr>
               <!--
                  <tr>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>-->
               <tr>
                  <td class="lf">Commencement
                     Date
                  </td>
                  <td>July 2010</td>
                  <td>February 2010</td>
                  <td>March 2011</td>
                  <td>February 2012</td>
                  <td>September 2012</td>
               </tr>
               <tr>
                  <td class="lf">Initial Rate
                     (in Rs/Sq. Ft.)
                  </td>
                  <td>2050</td>
                  <td>1695</td>
                  <td>1695</td>
                  <td>1895</td>
                  <td>2095</td>
               </tr>
               <tr>
                  <td class="lf">Completion Date</td>
                  <td>Possession begin</td>
                  <td>December 2014</td>
                  <td>December 2014</td>
                  <td>December 2014</td>
                  <td>December 2016</td>
               </tr>
               <tr >
                  <td class="lf">Floors</td>
                  <td>G+6</td>
                  <td>G+10</td>
                  <td>G+6</td>
                  <td>G+4</td>
                  <td>G+11</td>
               </tr>
               <tr>
                  <td class="lf">Current rate
                     (in Rs/Sq. Ft.)
                  </td>
                  <td>3999</td>
                  <td>2795</td>
                  <td>2895</td>
                  <td>2595</td>
                  <td>2395</td>
               </tr>
               <tr>
                  <td class="lf">Blocks</td>
                  <td>8</td>
                  <td>4</td>
                  <td>10</td>
                  <td>7</td>
                  <td>4 (11)</td>
               </tr>
               <tr>
                  <td class="lf">Total Flats</td>
                  <td>168</td>
                  <td>380</td>
                  <td>192</td>
                  <td>154</td>
                  <td>264</td>
               </tr>
               <tr>
                  <td class="lf">Availability</td>
                  <td>19</td>
                  <td>239</td>
                  <td>28</td>
                  <td>65</td>
                  <td>127</td>
               </tr>
               <tr>
                  <td class="lf">Car parking</td>
                  <td>4,00,000/-</td>
                  <td>3,50,000/-</td>
                  <td>2,50,000/- (Open)</td>
                  <td>3,90,000/- (C)/ 2,90,000/- (O)</td>
                  <td>3,00,000/-</td>
               </tr>
               <tr>
                  <td class="lf">Transformer &
                     Electricity Charges
                  </td>
                  <td>30/ psf</td>
                  <td>35/ psf</td>
                  <td>40/ psf</td>
                  <td>50/- psf</td>
                  <td>50/- psf</td>
               </tr>
               <tr>
                  <td class="lf">Generator Charges</td>
                  <td>15/ psf</td>
                  <td>20/ psf</td>
                  <td>25/- psf</td>
                  <td>30/ psf</td>
                  <td>35/- psf</td>
               </tr>
               <tr>
                  <td class="lf">Legal Charges</td>
                  <td>15/ psf</td>
                  <td>15/ psf</td>
                  <td>15/ psf</td>
                  <td>15/ psf</td>
                  <td>15/ psf</td>
               </tr>
               <tr>
                  <td class="lf">Maintenance
                     Deposit(Refundabl
                     e)
                  </td>
                  <td>18/- psf</td>
                  <td>25/- psf</td>
                  <td>18/- psf</td>
                  <td>24/- psf</td>
                  <td>25/- psf</td>
               </tr>
               <tr>
                  <td class="lf">Club Membership</td>
                  <td>10/- psf</td>
                  <td>50/- psf</td>
                  <td>25/- psf</td>
                  <td>25/- psf</td>
                  <td>50k for 2bhk, 75k for
                     2.5 & 3 bhk
                  </td>
               </tr>
               <tr>
                  <td class="lf">Municipal Tax
                     Derosit
                     (Refundable)
                  </td>
                  <td>5/- psf</td>
                  <td>10/- psf</td>
                  <td>10/- psf</td>
                  <td>10/- psf</td>
                  <td>12/- psf</td>
               </tr>
               <tr>
                  <td class="lf">Additional Charge
                     Total
                  </td>
                  <td>93/-psf</td>
                  <td>155/-psf</td>
                  <td>133/- psf</td>
                  <td>154/- psf</td>
                  <td>137/- psf</td>
               </tr>
               <tr>
                  <td class="lf">Intercom Facility
                     Charges
                  </td>
                  <td>NA</td>
                  <td>NA</td>
                  <td>NA</td>
                  <td>Rs 4000/-</td>
                  <td>Rs 4000/-</td>
               </tr>
               <tr>
                  <td class="lf">Floor Rise</td>
                  <td>NA</td>
                  <td>10/- psf per floor from
                     2nd floor
                  </td>
                  <td>15/- psf per floor from
                     2nd floor
                  </td>
                  <td>10/- psf per floor from 2nd
                     floor
                  </td>
                  <td>15/- psf. per floor
                     from 4th floor
                  </td>
               </tr>
               <tr>
                  <td class="lf">Special Charges</td>
                  <td>NA</td>
                  <td>75/- psf</td>
                  <td>200/- psf</td>
                  <td>200/-psf</td>
                  <td>200/- psf</td>
               </tr>
               <tr>
                  <td class="lf">Flat sizes</td>
                  <td>3bhk-
                     1300/1325/1340/1365/1410,
                     4bhk- 1810,1980
                  </td>
                  <td>2bhk- 1240 (2nd phase)
                     3bhk-1475/
                     1495/1505/1540/1575/1580
                     /1585/1615/1635
                  </td>
                  <td>2bhk- 970, 3bhk-
                     1370/1385/1390/1395/1400/
                     1435/1495/1500,
                  </td>
                  <td>1BHK Upcoming
                     2bhk-895/900/915/955/960/965/
                     3bhk- 1230/1235/
                  </td>
                  <td>2bhk- 880 2.5bhk-
                     1045 3bhk- 1285
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>