<% if @city_type == "Others"%>
	<div class="row form-group">
	  <div class="col-lg-8 col-lg-offset-2">
	    <%= text_field_tag 'city_other', '', :class => 'form-control', :placeholder => 'Enter Other city'%>
	  </div>
	</div>
<%end%>
    