<%@header = 'Areas'%>
<h1>Areas</h1>
<table id="customers">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  	<% @areas.each do |area|%>
  		<tr>
  			<td><%= area.name%></td>
  			<td><%= link_to 'Edit', setup_area_edit_path(area), :class => 'edit_btn'%></td>
  			<td><%= link_to 'Destroy', setup_area_destroy_path(area), data: { confirm: 'Are you sure ?'}, :class => 'dlt_btn'%></td>
  		</tr>
  	<%end%>
  </tbody>
</table><br>
<%= link_to 'New Entry', setup_area_new_path, :class => 'btn btn-primary' %>